<app-adminNavbar></app-adminNavbar>
<div class="jumbotron">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">

      <form #uppSlider="ngForm" (ngSubmit)="updateSlider()">
        <input [(ngModel)]="firstpage.name" name="name" class="form-control" type="text" placeholder="Name" />
        <input [(ngModel)]="firstpage.link"name="link" class="form-control" type="text" placeholder="Link" />
        <input [(ngModel)]="firstpage.description" name="description"class="form-control" type="text" placeholder="Desc" />
        <input [(ngModel)]="firstpage.price"class="form-control" name="price" type="text" placeholder="n-Price" />


       
        <br>
        <button class="btn btn-success"  type="submit" >Save</button> 
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<app-adminFooter></app-adminFooter>