<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="row">
    <div class="col-2">

      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Categories
        </a>
        <a *ngFor="let item of options" href="/products/{{item.name}}" class="list-group-item list-group-item-action">{{item.name}}</a>


      </div>
    </div>

    <!-- Category. -->
    <div class="col-10">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#">
              <img class="d-block w-100" src="/assets/1.jpg" alt="First slide" height="450" />
            </a>
          </div>


          <div *ngFor="let item of slider" class="carousel-item">
            <a href="{{item.link}}">
              <img class="d-block w-100" src="/assets/{{item.image}}" alt="First slide" height="450" />
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- Slider. -->
    </div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="col-2"></div>
    <div *ngFor="let item of topItem" class="card" style="width: 18rem;" (click)="addProductBasket(item)">
      <!-- <form  #addcardform="ngForm" (ngSubmit)="postCard()"> -->
      <img class="card-img-top" src="/assets/{{item.image}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
        <p class="card-text">
          {{item.description}}
        </p>

        <input [(ngModel)]="cardmodel.productID" name="productID" type="hidden" value="{{item._id}}">
        <button *ngIf="userout" type="submit" class="btn btn-primary btn-lg">Add Card</button> <span *ngIf="userout">
          ||</span>

        <a href="/product/{{item._id}}" class="btn btn-primary btn-lg">Details</a>
      </div>
      <!-- </form> -->
    </div>
    <div class="col-2"></div>
  </div>
  <!-- ITEM. -->
</div>

<app-footer></app-footer>
